/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */

.outer-wrap-header {
    border-bottom: 1px solid #e9e9e9;
}

.rm-default a {
    font-size: 0.9em;
    padding: 1.25em 0.7em;
}

.outer-wrap-flash {
    border-bottom: 2px solid #eee;
}

.region-flash {
    height: @magicNumber * 7;
}

.toc .selected {
    background: linear-gradient(270deg,#e6e6ff 0,#f8fcff 97%,#3e3e3e 22%);
    padding: 0.1rem 1.5rem;
}

.movie-nav {
    #desinax-vgrid.column(@columns);
}

.movie-nav a {
    text-decoration: none;
}

.movie-nav a:visited {
    color: #000;
}

.movie-nav a:hover {
    color: #1570b2;
}

.movie-nav a {
    #desinax-vgrid .column(4);
    padding-bottom: 0.8em;
    text-align: center;
}

.movie-table {
    border-collapse: collapse;
}

.movie-table,
tr {
    #desinax-vgrid.grid(1080px);
}

.movie-table tr:nth-child(odd) {
    background-color: #fafafa;
}

.movie-table .first {
    background-color: #efefef !important;
}

.movie-table th,
.movie-table td {
    width: 20%;
    padding: 0.8em;
    border: 2px solid #f8f8f8;
    text-align: center;
}

pre {
    overflow-x: scroll;
}
